<div class="well">
    <form method="post">
        <div> 
            <h3>{l s="Products" mod="walmartcatalog"}</h3>
            <input id="process_product" name="process_product" type="submit" class="btn btn-default" value="{l s="Procesar Product" mod="walmartcatalog"}"  />
        </div>
        <br/>
        <div>
            <h3>{l s="Categories" mod="walmartcatalog"}</h3>
            <input id="process_category" name="process_category" type="submit" class="btn btn-default" value="{l s="Procesar Category" mod="walmartcatalog"}"  />
        </div>
    </form>
</div>