{include file="./tabs.tpl"}
<div class="tab-content">
	<div role="tabpanel" class="tab-pane active" id="general">
		{include file="./general.tpl"}
	</div>
	<div role="tabpanel" class="tab-pane" id="sync" >
		{include file="./sync.tpl"}
	</div>
</div>

